body {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #ffffff;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

h2 {
  font-size: 55px;
  line-height: 55px;
}

.main-header,
.promo {
  background-color: #eeeeee;
  min-width: 1200px;
}

.main-header {
  padding-top: 50px;
}

.main-header a {
  color: #000000;
  text-transform: uppercase;
  line-height: 30px;
  text-decoration: none;
}

.logo a:hover {
  opacity: 0.6;
}

.logo a:active {
  opacity: 0.3;
}

.main-navigation a {
  display: block;
  padding: 25px 25px;
  padding-bottom: 12px;
}

.main-navigation a:hover {
  color: #f87f81;
}

.main-navigation a:active {
  color: #a6a6a6;
}

.main-navigation .active a:hover {
  color: #000000;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  padding-left: 175px;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 30px;
}

.basket {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 25px 25px;
  padding-left: 50px;
  padding-bottom: 12px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 13px;
  width: 15px;
  height: 15px;
  background: transparent url("../img/icons/sprite.png") no-repeat;
  background-position: -5px -5px;
}

.user-block a:hover {
  color: #f87f81;
}

.user-block a:active {
  color: #a6a6a6;
}

.main-navigation .active {
  position: relative;
  background-color: none;
}

.main-navigation .active a:hover {
  color: #000000;
  cursor: default;
}

.user-block .active:hover {
  color: #000000;
  cursor: default;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 24px;
  bottom: 0;
  left: 24px;
  height: 2px;
  background-color: #fb565a;
}

.user-block .active::after {
  content: "";
  position: absolute;
  right: 24px;
  bottom: 0;
  left: 13px;
  height: 2px;
  background-color: #fb565a;
}

.slider {
  position: relative;
  width: 1160px;
  height: 414px;
  /*высота тут не лишняя?*/
  margin: 0 auto;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 200px;
  height: 12px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 7px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked~.slider-controls label[for="btn-1"],
#btn-2:checked~.slider-controls label[for="btn-2"],
#btn-3:checked~.slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.promo-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slides .promo-slide:nth-child(1) {
  background-image: url("../img/slide1.png");
}

.slides .promo-slide:nth-child(2) {
  background-image: url("../img/slide2.png");
}

.slides .promo-slide:nth-child(3) {
  background-image: url("../img/slide3.png");
}

.promo-slide {
  display: none;
}

#btn-1:checked~.slides .promo-slide:nth-child(1) {
  display: block;
}

#btn-2:checked~.slides .promo-slide:nth-child(2) {
  display: block;
}

#btn-3:checked~.slides .promo-slide:nth-child(3) {
  display: block;
}

.promo h2 {
  width: 520px;
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  color: black;
  margin: 0;
  margin-top: 65px;
}

.promo-info {
  width: 420px;
  padding: 33px 0;
  color: #283136;
  font-size: 16px;
  line-height: 24px;
}

.features-item h2 {
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
}

.features-item p {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 40px;
}

.contacts strong {
  text-transform: uppercase;
}

.content h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.content-right h3 {
  text-align: center;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 50px;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
}

.catalog h2 {
  font-size: 18px;
  line-height: 18px;
}

.write-us h2 {
  font-size: 45px;
  line-height: 45px;
}

.main-footer h3 {
  font-size: 36px;
  line-height: 36px;
}


/*Сетки*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  /*outline: 5px solid red;*/
  width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  float: left;
  width: 161px;
}

.main-navigation {
  float: left;
  width: 800px;
}

.user-block {
  float: right;
  max-width: 180px;
}

.features {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.features-item:last-child {
  margin-right: 0;
}

.content {
  padding: 0 0;
  padding-top: 40px;
}

.content-left {
  float: left;
  width: 660px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-right {
  float: right;
  width: 360px;
}

.content-bottomlogos {
  margin: 0;
  padding: 0;
  clear: both;
  padding-top: 43px;
  padding-bottom: 43px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  text-align: center;
}

.content-bottomlogos a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  /*border-right: 2px solid #eeeeee;*/
}

.content-bottomlogos a::after {
  width: 2px;
  height: 52px;
  background: #eeeeee;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
}

.content-bottomlogos a:last-child::after {
  display: none;
}

.content-bottomlogos img {
  padding: 0 50px;
  opacity: 0.2;
}

.content-bottomlogos img:hover {
  opacity: 1;
}

.content-bottomlogos img:active {
  opacity: 0.1;
}

.contacts {
  min-width: 1200px;
  background-image: url("../img/map.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 55px;
  margin-top: 80px;
}

.contactinfo {
  width: 270px;
  background-color: #ffffff;
  margin: 0;
  padding-left: 50px;
  padding-top: 55px;
  margin-bottom: 54px;
}

.contacts strong {
  display: block;
  margin-bottom: 35px;
}

.contacts p {
  display: block;
  margin: 0;
  padding: 0;
  width: 220px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 25px;
}

.contacts-btn {
  padding: 21px 45px;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: medium;
  font-size: 16px;
  line-height: 18px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 50px;
}

.contacts-btn:hover {
  background-color: #e74246;
}

.contacts-btn:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}

.main-footer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social {
  float: left;
  margin-right: 140px;
  /*display: block;*/
}

.social-btn {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  font-size: 0;
  display: inline-block;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  background-color: #e1e1e1;
}

.social-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/icons/sprite.png");
  background-position: no-repeat;
}

.social-btn-vk::after {
  width: 26px;
  height: 15px;
  background-position: -59px -145px;
}

.social-btn-fb::after {
  width: 12px;
  height: 22px;
  background-position: -5px -98px;
}

.social-btn-inst::after {
  width: 21px;
  height: 21px;
  background-position: -49px -98px;
}

.social-btn-vk:active::after {
  background-position: -95px -145px;
}

.social-btn-fb:active::after {
  background-position: -27px -98px;
}

.social-btn-inst:active::after {
  background-position: -80px -98px;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}

.footer-social a:last-child {
  margin-right: 0;
}

.main-footer h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.main-footer p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.lead {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 45px;
  font-weight: bold;
}

.content p {
  margin: 0;
  margin-bottom: 40px;
}

.functions-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.functions-list li {
  margin-bottom: 35px;
  position: relative;
  padding-left: 36px;
}

.functions-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.promo-btn {
  display: inline-block;
  padding: 16px 54px;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 70px;
}

.promo-btn:hover {
  background-color: #e74246;
}

.promo-btn:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}

.order-btn {
  display: inline-block;
  padding: 16px 40px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.order1 {
  background-color: #fb565a;
}

.order1:hover {
  background-color: #e74246;
}

.order1:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}

.order2 {
  background-color: #00ca74;
}

.order2:hover {
  background-color: #00bc6c;
}

.order2:active {
  background-color: #00aa62;
  color: #4dc491;
  box-shadow: inset 0px 3px 0px 0px #009958;
}

.order3 {
  background-color: #efc84a;
}

.order3:hover {
  background-color: #eab534;
}

.order3:active {
  background-color: #e5a722;
  color: #edc265;
  box-shadow: inset 0px 3px 0px 0px #ce961f;
}

ul.about-numbers {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  width: 360px;
}

.about-numbers li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  width: 110px;
  margin-right: 15px;
}

.about-numbers b {
  font-size: 45px;
  /*line-height: 45px;*/
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.about-numbers sup {
  /*line-height: 10.06px;*/
  /*top: -0.25em;*/
  font-size: 0.6em;
}

.about-numbers li:last-child {
  margin-right: 0;
}


/*форма Напишите нам (модальное окно)*/

.modal-writeus {
  display: none;
  position: fixed;
  bottom: 180px;
  /*в ТЗ требуется непонятное "окно позиционируется относительно вьюпорта, а не страницы" - как это?*/
  left: 50%;
  width: 760px;
  margin-left: -480px;
  padding: 0 100px;
  padding-top: 70px;
  padding-bottom: 85px;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.modal-writeus-show {
  display: block;
  animation: prestige 1s;
}

@keyframes prestige {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.modal-writeus-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-writeus-close::before,
.modal-writeus-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 22px;
  height: 4px;
  background-color: #fecccd;
  border-radius: 1px;
}

.modal-writeus-close::before {
  transform: rotate(45deg);
}

.modal-writeus-close::after {
  transform: rotate(-45deg);
}

.modal-writeus-close:hover::before,
.modal-writeus-close:hover::after {
  background-color: #fb565a;
}

.modal-writeus-close:active::before,
.modal-writeus-close:active::after {
  background-color: #ffeeee;
}

.modal-writeus h2 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 50px;
}

.modal-writeus form {
  margin: 0;
}

.modal-writeus input {
  width: 326px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #a1a1a1;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  display: block;
}

.modal-writeus label {
  display: block;
  float: left;
  padding-right: 30px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  font-weight: bold;
}

.modal-writeus label:nth-child(2n) {
  padding-right: 0;
  margin-bottom: 40px;
}

.modal-writeus label:nth-child(2n)::after {
  content: "";
  clear: both;
}

.modal-writeus input,
.modal-writeus textarea {
  margin-top: 15px;
  padding: 15px 15px;
}

.modal-writeus textarea {
  width: 716px;
  color: #a1a1a1;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  margin-bottom: 0;
}

.modal-writeus input:hover,
.modal-writeus textarea:hover {
  color: #a1a1a1;
  border-color: #b4b9bb;
}

.modal-writeus input:focus,
.modal-writeus textarea:focus {
  color: #444444;
  border-color: #000000;
}

.modal-writeus button[type="submit"] {
  padding: 20px 82px;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: medium;
  font-size: 16px;
  line-height: 18px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 0;
}

.modal-writeus button[type="submit"]:hover {
  background-color: #e74246;
}

.modal-writeus button[type="submit"]:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}


/*Каталог*/

.page-header {
  background-color: #eeeeee;
  min-width: 1200px;
  padding-top: 30px;
  padding-bottom: 70px;
}


/*Фильтр товаров*/

.catalog-filter {
  float: left;
  width: 260px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: #000000;
}

.catalog-filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 63px;
  display: block;
}

.catalog-filter legend {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

.catalog-filter fieldset legend {
  margin-bottom: 22px;
}

.catalog-filter fieldset:nth-child(1) legend {
  padding-bottom: 58px;
}

.catalog-filter fieldset:nth-child(1) {
  padding-bottom: 63px;
}

.catalog-filter fieldset {
  padding-bottom: 0;
  margin-bottom: 52px;
}

.range-filter {
  width: 240px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.catalog-filter fieldset li {
  list-style-type: none;
}

.filter-option,
.filter-check {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: #283136;
}

.filter-option input[type="radio"][disabled],
.filter-check input[type="checkbox"][disabled] {
  opacity: 0.2;
  cursor: default;
  /*не работает! как весь label скрывать, у которого задизаблен его радио или чекбокс??(*/
}

.filter-check input[type="checkbox"] {
  display: none;
}

.filter-check input[type="checkbox"]+.checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
  /*вот на этом всё и разваливается(((( $&@*#*#@(*/
}

.filter-checks label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-position: -30px -5px;
}

.catalog-filter button {
  padding: 20px 90px;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: medium;
  font-size: 16px;
  line-height: 18px;
  border: none;
  cursor: pointer;
  margin-bottom: 0;
}

.catalog-filter button:hover {
  background-color: #dfdfdf;
}

.catalog-filter button:active {
  background-color: #d5d5d5;
  color: #a9a9a9;
  box-shadow: inset 0px 3px 0px 0px #bfbfbf;
}


/*Сортировщик каталога*/

.catalog-sort h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: 250px;
  display: inline-block;
}

.catalog-sort-labels {
  display: inline-block;
  padding: 0;
}

.catalog-sort-labels li {
  display: inline-block;
  margin-right: 25px;
}

.catalog-sort-labels li a {
  display: inline-block;
  color: #cacaca;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 18px;
}

.catalog-sort-labels li a:hover {
  color: #8d8d8d;
}

.catalog-sort-labels li a:active,
.catalog-sort-labels li.active a {
  color: #000000;
}

.catalog-sort-way {
  display: inline-block;
  padding: 0;
}

.catalog-sort-way li {
  display: inline-block;
}

.catalog-sort-way li a {
  display: inline-block;
  text-decoration: none;
  width: 9px;
}

.catalog-sort-way li {
  position: relative;
}

.catalog-sort-way li.sort-desc {
  margin-left: 20px;
  margin-right: 20px;
}

.catalog-sort-way li.sort-desc::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 9px;
  height: 9px;
  background: transparent url("../img/icons/sprite.png") no-repeat;
  background-position: -24px -75px;
  opacity: 0.2;
  cursor: pointer;
}

.catalog-sort-way li.sort-desc:hover::before {
  opacity: 0.4;
}

.catalog-sort-way li.sort-desc:active::before {
  opacity: 1;
}

.catalog-sort-way li.sort-asc::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 9px;
  height: 9px;
  background: transparent url("../img/icons/sprite.png") no-repeat;
  background-position: -81px -75px;
  opacity: 0.2;
  cursor: pointer;
}

.catalog-sort-way li.sort-asc:hover::before {
  opacity: 0.4;
}

.catalog-sort-way li.sort-asc:active::before {
  opacity: 1;
}

.catalog-sort-way li.act::before {
  opacity: 1;
}


/*Товары в каталоге*/

.catalog {
  /*background-color: #FFFFCC;*/
  float: right;
  width: 760px;
}

.catalog-item {
  float: left;
  width: 360px;
  position: relative;
  padding-top: 40px;
  margin-bottom: 36px;
}

.catalog-item:nth-child(2n+1) {
  margin-right: 40px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 40px;
  background: #e9e9e9;
  border-radius: 3px 3px 0 0;
}

.catalog-item:hover::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 360px;
  height: 40px;
  background: #4d4d4d;
  border-radius: 3px 3px 0 0;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(40, 50, 70, 0.2);
  outline: 0px;
}

.catalog-item::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 7px;
}

.item-template {
  position: relative;
  width: 360px;
  height: 576px;
}

.item-template img {
  width: 360px;
  height: 576px;
}

.item-template::before {
  content: "";
  position: absolute;
  top: -28px;
  left: 40px;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 7px;
}

.item-template::after {
  content: "";
  position: absolute;
  top: -28px;
  left: 64px;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 7px;
}

.catalog-item .item-hover {
  display: none;
}

.catalog-item:hover .item-hover {
  display: block;
}

.item-hover {
  width: 360px;
  background-color: #eeeeee;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.item-hover h1 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 25px;
  margin: 0;
  margin-bottom: 16px;
}

.item-hover a {
  color: #000000;
  text-transform: uppercase;
  line-height: 30px;
  text-decoration: none;
}

.item-hover p {
  width: 240px;
  line-height: 18px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  margin: 0;
}

.item-hover .order-btn {
  padding: 16px 63px;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 43px;
  margin-left: 79px;
  margin-right: 79px;
}

.item-hover .order-btn:hover {
  background-color: #e74246;
}

.item-hover .order-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px #c13135;
}
